# Skill levels config,format:
# <action>=<radius>@<skill>[,<radius>@<skill>,...]

cultivate=1@30,2@50,3@70,4@90,5@99
sow=1@30,2@50,3@70,4@90,5@99
farm=1@30,2@50,3@70,4@90,5@99
harvest=1@30,2@50,3@70,4@90,5@99
replant=1@30,2@50,3@70,4@90,5@99
pick=1@30,2@50,3@70,4@90,5@99
prune=1@30,2@50,3@70,4@90,5@99
plant=1@30,2@50,3@70,4@90,5@99

# Skill level (gardening) to plant all planters in rack
planterPlantSkill=30
# Skill level (gardening) to harvest all planters in rack
planterPickSkill=50

# Additional items to make plantable in planters
#addPotables=nettles,sassafras,woad,cocoaBean,nutmeg,blueberry,lingonberry,raspberries,mushroomBlack,mushroomBlue,mushroomBrown,mushroomGreen,mushroomRed,mushroomYellow
addPotables=nettles,sassafras,nutmeg,woad,cocoaBean,mushroomBrown,mushroomRed,mushroomBlue,mushroomYellow,blueberry,lingonberry,raspberries

# Allow using area actions when mounted
allowMountedAreaActions=true

# Allow tree area actions on infected trees
allowInfectedTrees=true
